*{
  margin: 0px;
  padding: 0px;
  cursor: url('/cur/cursor.ico'),auto;
}

html,body{
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: dotted;
  src: url('dotted.ttf');
  /* src: url('https://s-bj-2133-dreamcenter.oss.dogecdn.com/fast/ttf/dotted.ttf'); */
}

@font-face {
  font-family: soft;
  src: url('soft.ttf');
  /* src: url('https://s-bj-2133-dreamcenter.oss.dogecdn.com/fast/ttf/soft.ttf'); */
}

*::-webkit-scrollbar{
  width: 4px;
  height: 8px;
  background-color: rgb(61, 94, 94);
}
*::-webkit-scrollbar-thumb{
  background-color: rgb(155, 214, 99);
}
